*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
 /* .debug *{
     border: 1px dotted red;
} */

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav{
   background-color: rgb(82, 82, 95);
}

#inner-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color:  rgb(82, 82, 95);
}

#inner-nav ul{
    list-style-type: none;
}

.logo{
    height: 80px;
    width: 100px;
    background-color: #70aa55;
    /* test */
}

#links{
    display: flex;
    align-items: stretch;
    /* test */
}

#links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

#links li{
    height: 30px;
    width: 60px;
    background-color: #1093aa;
    /* test */
}

.login{
    height: 80px;
    width: 100px;
    background-color: #d475c1;
    /* test */
}

header{
    height: 500px;
    background-color: rgb(82, 82, 95);
}

.container-two{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#inner-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

h1{
    height: 70px;
    width: 300px;
    background-color: #1093aa;
    /* test */
}

p{
    width: 100%;
    height: 150px;
    background-color: #70aa55;
    /* test */
}

#download{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.mac{
    height: 50px;
    width: 100px;
    /* test */
}

#mac-up{
    background-color: #d475c1;
}

#browser{
    height: 50px;
    width: 150px;
    background-color: #d475c1;
    /* test */
}

.partition{
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

#bottom-sec{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img{
    height: 400px;
    width: 450px;
    background-color: #5f1b52;

}
   
.text-img{
    height: 400px;
    width: 350px;
    background-color: #1b5f59;
}

.main-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.main-bottom .img{
    width: 100%;
    height: 600px;

}

#bottom-p{
    width: 800px;
    height: 200px;
    
}

#bottom-text{
    height: 30px;
    width: 200px;
}

#mac-bottom{
    background-color: #1093aa;
}

footer{
    width: 100%;
    height: 700px;
}

.inner-footer{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    background-color: rgb(48, 48, 61);
}

#ban{
    height: 300px;
    width: 300px;
    background-color: #d475c1;

}

.data-list li{
    height: 30px;
    width: 100px;
    background-color: #70aa55;

}

.data-list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.bottom-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: rgb(48, 48, 61);
}
